<section class="container">
<div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Add Products</h2>
      <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
        <label for="">Name</label>
        <input type="text" class="form-control" name="Name"><br>

        <label for="">Category</label>
        <input type="text" class="form-control" name="Category"><br>

        <label for="">Size</label>
        <input type="text" class="form-control" name="Size"><br>
        
        <label for="">Price</label>
        <input type="text" class="form-control" name="Price"><br>

        <label for="">Description</label>
        <input type="text" class="form-control" name="Description"><br>

        <label for="">Image</label>
        <input type="file" class="form-control" name="Image"><br>
        
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      </div>
</div>
</section>