<section class="container">
<div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Add Products</h2>
      <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
        <label for="">Name</label>
        <input type="text" class="form-control" name="Name"><br>

        <label for="">Category</label>
        <input type="text" class="form-control" name="Category"><br>

        <label for="">Size</label>
        <select class="form-control" name="Size" multiple>
        <option>34</option>
        <option>35</option>
        <option>36</option>
        <option>37</option>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
      </select><br>
        
        <label for="">Price</label>
        <input type="text" class="form-control" name="Price"><br>

        <label for="">Description</label>
        <input type="text" class="form-control" name="Description"><br>

        <label for="">Image</label><br>
        <input type="file" name="Image"><br><br>
        
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      </div>
</div>
</section>