<section>
<div class="container">
<div class="row">
<div class="col-md-6 mt-3">   
    <form action="/place-orders" id="checkout-form" class="form-group text-center border border-dark mt-5 p-5">
        <p class="h2 mb-4">Delivery Details</p>

            <input required type="text" name="Address" class="form-control mb-4" placeholder="Address">
            <input required type="text" name="Pincode" class="form-control mb-4" placeholder="Pincode">
            <input required type="text" name="Mobile" class="form-control mb-4" placeholder="Mobile">
            <input required type="text" name="userId" value="{{user._id}}" hidden>
</div>

<div class="col-md-1"></div>
<div class="col-md-4 mt-5">
<div class="container text-center border border-dark mt-5 p-5">
    <h5>Total Amount: Rs.{{total}}/- </h5>
    <hr>
    <div class="payment text-left">
        <h6>Payment Method</h6>
        <label class="radio-inline">
             <input type="radio" name="payment-method" value="COD" checked> Cash On Delivery
        </label><br>
        <label class="radio-inline">
             <input type="radio" name="payment-method" value="ONLINE" checked> Online Payment
        </label><br><br>
        <div class="text-center">
        <button class="btn btn-dark" type="submit">Checkout</button>
        </div>
    </div>
    </form>
</div>
</div>
</div>
</div>
</section>


<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()      //prevent form submission

        $.ajax({
        url:'/place-orders',
        method:'post',
        data:$("#checkout-form").serialize(),      //to get data from form
        success:(response)=>{
            alert(response)
            if(response.codSuccess){
                location.href='/order-success'
            }else{
                razorpayPayment(response)
            }
        }
        })
    })

    function razorpayPayment(order){
        var options = {
            "key": "rzp_test_boh3l9sbmpk6Up", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "BOOTS",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                //alert(response.razorpay_payment_id);
                //alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "black"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
        function verifyPayment(payment,order){
            $.ajax({
                url:'/verify-payment',
                data:{
                    payment,
                    order
                },
                method:'post',
                success:(response)=>{
                    if(response.status){
                        location.href='/order-success'
                    }else{
                        alert("payment failed")
                    }
                }
            })
        }
    

</script>