<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">


            <form action="/signup" method="POST" class="text-center border border-dark mt-5 p-5">
                <p class="h4 mb-4">Create account</p>
                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" class="form-control" name="FName" placeholder="First name">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input type="text" class="form-control" name="LName" placeholder="Last name">
                    </div>
                </div>
                <input type="email" class="form-control mb-4" name="Email" placeholder="E-mail">
                <input type="password" class="form-control" name="Psw" placeholder="Password">

                <button class="btn btn-dark btn-block my-4" type="submit">Sign Up!</button>
            </form>


        </div>
    </div>

</div>